body {
  font-family: 'Arvo', serif;
}

#container {
}

#header_row {
  border: solid black;
  border-width: 1px 0px 1px 0px
}

ul {
  list-style-position: inside;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  padding-bottom: 0.25em;
}

p {
  margin-top: 0;
}
