<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=1024" />
  <link rel="stylesheet" href="css/978.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Arvo|Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container" class="layout-978">
  {{ content }}
</div>
</body>
</html>
